#account-info {
  margin: 30px 0;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

#btnSignOut {
  margin: 0;
}

#account-btn {
  display: flex;
}

#account-btn button {
  max-width: 170px !important;
  margin: 10px;
}
.btn{
  margin: 0;
}

.is-open-account-form {
  height: 400px;
  overflow: hidden;
  transition: 0.5s height linear;
}
.is-close-account-form {
  height: 0px;
  overflow: hidden;
  transition: 0.5s height linear;
}

@media only screen and (max-width: 768px) {
  .is-open-account-form {
    height: 750px;
  }
}