@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900');

body{
  font-family: 'Roboto', sans-serif;
}

.search-text{
	margin-top:50px;
	background-color: #fff;
	padding-top:60px;
  padding-bottom:60px;
}
	
.search-text .input-search{
	height:45px;
  width:40%;
  color: #232323 !important;
  border: 1px solid #232323;
	padding-left:20px;
  color:#333;
  outline: none;
} 

.search-text .btn-search{
  padding: 0;
  outline: none;
  color: #fff;
  background: #232323;
  font-family:Roboto;
  border:none;
  height: 45px;
  width: 80px;
}

.search-text h4{
    color: #232323;
    font-weight: 700;
}

footer{
  background-color: #fff;
  padding:30px 0px;
}	       

.logo{
  text-transform: uppercase;
  color:#232323;
  font-weight:700;
  font-size:30px;
}

.address span , .menu span{
  color: #232323; 
  font-weight: bold; 
  border-bottom: 1px solid black; 
  padding:10px 0px;
  display: block;
  text-transform: uppercase;
  font-size: 16px;
  letter-spacing: 3px;
}
 
.address li a , .menu li a{
  color:#232323;
  letter-spacing: 3px;
  text-decoration:none;
  font-size:14px;
}

.address li, .menu li{
  color: #232323;
  margin:20px 0px;
  list-style: none;
}

/* .address li a:hover , .menu li a:hover{
  color: #232323;
  -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
} */

.address .fa{
  color: #232323;
  margin-right: 10px;
  font-size:18px;
}

footer a{
  color: #232323 !important;
}

footer a:hover{
  color: #232323 !important;
}


#search-form {
  display: flex;
  justify-content: center;
}