@charset "UTF-8";

* {
  text-decoration: none;
}


.navigation {
  overflow: hidden;
  background: #fff;
}

.brand {
  position: absolute;
  padding-left: 20px;
  float: left;
  line-height: 70px;
  text-transform: uppercase;
  font-size: 1.4em;
}
.brand a,
.brand a:visited {
  color: #223322;
  text-decoration: none;
}

.nav-container {
  max-width: 1000px;
  margin: 0 auto;
}

nav {
  float: right;
}
nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
nav ul li {
  float: left;
  position: relative;
}
nav ul li a,
nav ul li a:visited {
  display: block;
  padding: 0 20px;
  line-height: 70px;
  background: #fff;
  color: #232323;
  text-decoration: none;
}
nav ul li a:hover,
nav ul li a:visited:hover {
  text-decoration: none;
  color: darkgray;
}
nav ul li a:not(:only-child):after,
nav ul li a:visited:not(:only-child):after {
  padding-left: 4px;
  content: ' ▾';
}
nav ul li ul li {
  min-width: 190px;
}
nav ul li ul li a {
  padding: 15px;
  line-height: 20px;
}

.nav-dropdown {
  position: absolute;
  display: none;
  z-index: 1;
  box-shadow: 0 3px 12px rgba(0, 0, 0, 0.15);
}

/* Mobile navigation */
.nav-mobile {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  /* background: #262626; */
  height: 70px;
  width: 70px;
}

@media only screen and (max-width: 798px) {
  .nav-mobile, #mob-list {
    display: block;
  }

  nav {
    width: 100%;
    padding: 70px 0 15px;
  }
  nav ul {
    display: none;
  }
  nav ul li {
    float: none;
  }
  nav ul li a {
    padding: 15px;
    line-height: 20px;
  }
  nav ul li ul li a {
    padding-left: 30px;
  }

  .nav-dropdown {
    position: static;
  }
}
@media screen and (min-width: 799px) {
  .nav-list {
    display: block !important;
  }
  #mob-list {
    display: none;
  }
}

#nav-toggle {
  position: absolute;
  left: 10px;
  top: 10px;
  width: 50px;
  height: 50px;
  font-size: 2em;
  line-height: 50px;
  color: #232323;
  text-align: center;
  display: block;
  cursor: pointer;
}

#mob-list li a {
  padding-right: 30px;
}

#mob-list {

  width: 100%;
  overflow: hidden;
}

#mob-list li {
  font-size: 1em;
  text-align: right;
}

/* #mob-list li a {
  padding: 10px 0;
  margin: 0 25px;
} */

.open-mob-list {
  height: 300px;
  transition: 0.5s height linear;
}
.close-mob-list {
  height: 70px;
  transition: 0.5s height linear;
}

article {
  max-width: 1000px;
  margin: 0 auto;
  padding: 10px;
}

.cart-notification::after {
  content: "!";
  position: absolute;
  width: 20px;
  height: 20px;
  border: 1px solid red;
  border-radius: 10px;
  z-index: 9999;
  top: 10px;
  right: 0;
  font-size: 1em;
  text-align: center;
  line-height: 20px;
  background-color: red; 
  color: #fff;
}