.caption p:nth-child(3) {
    text-align: right;
  }
  
  .caption button {
    margin-left: 10px;
  }
  
  .jumbotron {
    margin: 30px 0;
  }
  
  h1 {
    text-transform: uppercase;
  }
  
  .panel-success {
    overflow: hidden;
    margin-bottom: 30px;
  }
  
  
  .nav {
    padding: 60px 15px;
  }