.bloc_left_price {
  color: #c01508;
  text-align: center;
  font-weight: bold;
  font-size: 150%;
}

.category_block li:hover {
  background-color: #007bff;
}

.category_block li:hover a {
  color: #ffffff;
}

.category_block li a {
  color: #343a40;
}

.add_to_cart_block .price {
  color: #c01508;
  text-align: center;
  font-weight: bold;
  font-size: 200%;
  margin-bottom: 0;
}

.add_to_cart_block .price_discounted {
  color: #343a40;
  text-align: center;
  text-decoration: line-through;
  font-size: 140%;
}

.product_rassurance {
  padding: 10px;
  margin-top: 15px;
  background: #ffffff;
  border: 1px solid #6c757d;
  color: #6c757d;
}

.product_rassurance .list-inline {
  margin-bottom: 0;
  text-transform: uppercase;
  text-align: center;
}

.product_rassurance .list-inline li:hover {
  color: #343a40;
}


.pagination {
  margin-top: 20px;
}

.cart-item-image {
  min-width: 70px;
  width: 70px;
  height: 70px;
  overflow: hidden;
}

.cart-item-name {
  text-transform: uppercase;
}

td, th {
  color: #232323;
}

.btn-danger {
  background: #e62739;
}

.btn-continue, .btn-checkout {
  width: 250px;
}

.btn-continue {
  margin: 0;
  color: #fff;
  background: #e62739;
  border: 1px solid #e62739;
  transition: 0.5s all ease-in-out;
}

.btn-continue:hover {
  color: #e62739;
  background: #fff;
  transition: 0.5s all ease-in-out;
}

.btn-checkout {
  margin: 0;
  color: #fff;
  background: lightseagreen;
  border: 1px solid lightseagreen;
  transition: 0.5s all ease-in-out;
}

.btn-checkout:hover {
  color: lightseagreen;
  background: #fff;
  transition: 0.5s all ease-in-out;
}

.cart-footer {
  display: flex;
  justify-content: space-between;
}

tr, td {
  background-color: #fff;
}


.btn-continue, .btn-checkout {
  margin: 0 10px;
}

#order-information {
  margin: 30px 0 50px;
  padding: 0 10px;
}