.textarea-comment{
    width: 100%;
}

#comment-content {
    font-size: 1.2em;
    height: 100px;
}

.comment-post {

    display: flex;
    justify-content: flex-end;
}

#comment-btn-post {
    text-transform: uppercase;
    width: 100px;
    margin: 0;
}