.shop-card {
  width: 300px;
  height: 500px;
  background: #fff;
  /* box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3); */
  overflow: hidden;
  /* border-radius: 5px; */
  padding: 25px;
  text-align: center;
  z-index: 2;
  align-content: center;
  margin-bottom: 30px; 

}
.slider {
  overflow: hidden;
}
.shop-card img {
  margin: auto;
  margin: 30px 0;
  height: 250px;
  width: 300px;
  overflow: hidden;
}
.shop-card .title {
  font-weight: 900;
  text-transform: uppercase;
  font-size: 20px;
  color: #232323;
  margin-bottom: 5px;
}
.shop-card .desc {
  font-size: 17px;
  opacity: .8;
  margin-bottom: 3px;
}
.shop-card .cta {
  padding: 20px 20px 5px;
}
.shop-card .cta::after {
  content: '';
  display: table;
  clear: both;
}
.shop-card .price {
  float: left;
  color: #232323;
  font-size: 22px;
  font-weight: 900;
  padding-top: 2px;
  -webkit-transition: color .3s ease-in-out;
  transition: color .3s ease-in-out;
  margin-top: 4px;
}
.shop-card .btn {
  margin: 5px 0;
  width: 120px;
  position: relative;
  z-index: 1;
  float: right;
  display: inline-block;
  font-size: 13px;
  font-weight: 900;
  text-transform: uppercase;
  color: #e62739;
  padding: 12px 18px;
  cursor: pointer;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  line-height: .95;
  border: none;
  background: none;
  outline: none;
  border: 1px solid #e62739;
  border-radius: 20px;
  overflow: hidden;
}
.shop-card .btn:nth-child(3) {
  color: #45B8AC;
  border: 1px solid #45B8AC;
}

.shop-card .btn:nth-child(3):hover {
  background: #45B8AC;
  color: #fff !important;
  border: 1px solid transparent !important;
}

.shop-card .btn:hover {
  background: #e62739;
  color: #fff !important;
  border: 1px solid transparent !important;
}
